.item-details {
    position: relative;
    display: flex;
    background-color: #303030;
    border-radius: 8px;
    padding: 30px;
}

.item-details__picture {
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    background-color: #111;
    border-radius: 8px;
    margin-right: 40px;
}

.item-details__picture img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
}

.item-details__item {
    display: flex;
    align-items: center;
}

.item-details__item p {
    margin: 0 16px 0 0;
}

.item-details__description ul li {
    font-size: 18px;
}

.item-text {
    font-size: 14px;
    margin-bottom: 5px;
    color: #F39C12;
}

.loadingio-spinner-double-ring-3z3oyd2w5z {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
